 <div class="expand-box #expand-open" id="expanding_foot">
		<div class="expand-outer">
			<div class="expand-inner">
				<ul class="expand-list">
					<li class="brand">
						<h2 class="logo"><a href="httP://www.bimba.edu.cn" title="BIMBA"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/expand-box/bimba.png" alt="BIMBA" /></a></h2>
						<h3 class="sub"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/expand-box/mba-emba-edp.png" alt="mba-emba-edp" /></h3>
					</li>
					<li class="wechat">
						<div class="qr-code">
							<div class="img"><a href="http://www.bimba.edu.cn/regard/2014/0425/13393.html" title="点击关注"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/expand-box/bimba-pku.jpg" alt="官方微信bimba-pku" /></a></div>
							<div class="caption"><h4>官方微信<br />bimba-pku</h4></div>
						</div>
						<div class="follow">
							<div class="img"><a href="http://www.bimba.edu.cn/regard/2014/0425/13393.html" title="点击关注"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/expand-box/follow.png" alt="点击关注" /></a></div>
							<a href="http://www.bimba.edu.cn/regard/2014/0425/13393.html" title="点击关注"><button class="btn" type="点击关注">点击关注</button></a>
						</div>
					</li>
					<li class="relevant">
						<h4 class="title">相关链接</h4>
						<ul class="links-list">
							<li>
								<div class="caption"><a href="http://www.pku.edu.cn" title="北京大学">北京大学</a></div>
							</li>
							<li>
								<div class="caption"><a href="http://www.nsd.edu.cn/cn/" title="北京大学国家发展研究院">北京大学国家发展研究院</a></div>
							</li>
							<li>
								<div class="caption"><a href="https://www.vlerick.com/en/" title="弗拉瑞克商学院">弗拉瑞克商学院</a></div>
							</li>
							<li>
								<div class="caption"><a href="http://www.bnet.fordham.edu/" title="福坦莫商学院">福坦莫商学院</a></div>
							</li>
							<li>
								<div class="caption"><a href="http://mail.bimba.edu.cn/" title="BiMBA邮箱">BiMBA邮箱</a></div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="footer-outer">
			<div class="footer-inner">
				<div class="share #share-open">
					<span class="icon"><a href="javascript:void(0);" title="weixin" id="weixin"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/footer/share/weixin.png" alt="weixin" /></a></span>
					<span class="icon"><a href="http://weibo.com/bimba" title="weibo"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/footer/share/weibo.png" alt="weibo" /></a></span>
					<span class="icon"><a href="http://www.linkedin.com/company/beijing-international-mba-at-peking-university?trk=company_name" title="linkedin" id="linkedin"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/footer/share/linkedin.png" alt="linkedin" /></a></span>
					<span class="icon" id="cnzz_stat_icon_2170131">
					<script type="text/javascript">
					var _hmt = _hmt || [];
					(function() {
					  var hm = document.createElement("script");
					  hm.src = "//hm.baidu.com/hm.js?711c53013b077a1624044bd4bbbffd5a";
					  var s = document.getElementsByTagName("script")[0]; 
					  s.parentNode.insertBefore(hm, s);
					})();
					</script>
					</span>
				</div>
				<div class="qr-code hide" id="weixin_show">
					<h4 class="title">官方微信</h4>
					<div class="img"><img src="http://img.bimba.edu.cn/res/bimba_cn2/images/footer/qr-code.jpg" alt="官方微信" /></div>
				</div>
				<div class="btn-box"><a class="btn-arrow" href="javascript:void(0);" id="hide_arrow"></a></div>
			</div>
		</div>
	</div>

	<script src="http://img.bimba.edu.cn/res/bimba_cn2/js/common.js"></script>

	<script type="text/javascript">
	    //高亮 设置
	     function setHighlight(){
	        var channelid = 965;
	        var channelname = "";
	        var parentid = 957;
	        if(typeof(parentid) == 'undefined'){
	            $("#"+channelid).addClass("open active");
	        }else{
	            $("#"+channelid).addClass("active");
	            $("#"+parentid).addClass("open active");
	        }
	        $("#"+channelname).addClass("active");
	    }

		$(function(){
		    var doc_id = 19970;
		    $("#"+doc_id).addClass("active").find("span").text(">>");
		    $("#hot").bind("click",function(){
		        $(this).addClass("active").siblings("li").removeClass("active");
		        $("#hot_list").removeClass("hide").siblings("div").addClass("hide");
		    });
		    $("#rel").bind("click",function(){
		        $(this).addClass("active").siblings("li").removeClass("active");
		        $("#rel_list").removeClass("hide").siblings("div").addClass("hide");
		    });
		    setHighlight();
		});
	</script>