<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<title>北大国家发展研究院BiMBA</title>
<!--[if !ie]><!-->
<script>
if (window.matchMedia("screen and (-ms-high-contrast:active), (-ms-high-contrast:none)").matches) {
    document.documentElement.className = "ie" + document.documentMode + " gt-ie9";
}
</script>
<!--<![endif]-->
<!-- css global begin -->
<link rel="stylesheet" href="http://img.bimba.edu.cn/res/bimba_cn2/css/bimba.css" />
    <!-- js compatible begin -->
    <!--[if lt ie 9]>
    <link rel="stylesheet" href="http://img.bimba.edu.cn/res/bimba_cn2/lt-ie9/css/bimba.css" />
    <![endif]-->
    <!-- js compatible end -->
<!-- css global end -->
<!-- javascript global begin -->
<script src="http://img.bimba.edu.cn/res/bimba_cn2/js/jquery.min.js"></script>
    <!-- js compatible begin -->
    <!--[if lt ie 8]>
    <script src="http://img.bimba.edu.cn/res/bimba_cn2/lt-ie9/js/beforeafter.js"></script>
    <script src="http://img.bimba.edu.cn/res/bimba_cn2/lt-ie9/js/beforeafter-selector.js"></script>
    <script src="http://img.bimba.edu.cn/res/bimba_cn2/lt-ie9/js/png.min.js"></script>
    <script src="http://img.bimba.edu.cn/res/bimba_cn2/lt-ie9/js/png-selector.js"></script>
    <![endif]-->
    <!-- js compatible end -->
<!-- javascript global end -->
<style>
#welcome{
right: 10%;
top: 10px;
position: absolute;
}
#welcome a{color: #880000}


#min_welcome{
right: 2%;
top: 10px;
position: absolute;
}
#min_welcome a{color: #880000}

@media (max-width: 2002px){#welcome{display: block;} 
#min_welcome{display: none;} #ming_welcome{display: none;}
/**.left_a{display: block;} .left_b{display: none;}**/
}

@media (max-width: 1071px){#welcome{display: none;}
 #min_welcome{display: block;} #ming_welcome{display: none;}
 /**.left_a{display: block;} .left_b{display: none;}**/
}
@media (max-width: 768px){#welcome{display: none;}
 #min_welcome{display: block;} #ming_welcome{display: none;}
 /**.left_a{display: none;} .left_b{display: block;}**/
}
@media (max-width: 468px){#welcome{display: none;}
 #min_welcome{display: none;} #ming_welcome{display: block;}
 /**.left_a{display: none;} .left_b{display: block;}**/
 body {
	overflow-x: scroll;
 }
}
@media (max-width: 250px){#welcome{display: none;}
 #min_welcome{display: none;} #ming_welcome{display: block;}
 /**.left_a{display: none;} .left_b{display: block;}**/
 body {
	overflow-x: scroll;
 }
}

</style>
