<% if @q.present? %>
  <div class="ui blue segment">
    <%= simple_form_for @q,  url: admin_interview_scores_path, method: :get, wrapper: 'semantic_search_form' do |f| %>
      <div class="ui five column grid">
        <%= f.input 'student_id-eq', placeholder: '学生ID' %>
        <div class="column">
          <%= f.submit '搜索', class: 'ui primary button' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>