
.time_wraper{
  margin-left: 6px;
  margin-top: 2px;
}
.time_wraper label {
  font-weight:bold;
}
.radio_wraper{
  height: 20px;
  line-height: 35px;
  margin-right: 20px;
  margin-left: 5px;
}
.alert-error{
	background-color: #dd4b39;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.form-part{
  margin-bottom:10px;
}
.form-part input[type=text]{
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    line-height: 34px;
    width: 300px;
}
.form-part select{
  width: 300px;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
}

.form-part label{
  width: 100px;
  text-align: left;
}