.web-table table{
  border: 1px solid #ccc;
  border-radius:4px;
}
.web-table table thead tr th{
  border: 1px solid #ccc;
  padding: 10px 20px;
}
.web-table table td{
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.form-part{
  margin-top: 15px;
}

.form-part input[type=text]{
  width: 50%;
  height: 34px;
  line-height: 34px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-part select{
  width:  50%;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
}
.form-part label{
  width:  25% ;
  text-align: right;
  display: inline-block;
}
.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.wraper_btn input{
  padding: 5px 20px;
  font-weight: bold;
  margin-top: 20px;
}